{
  "remoteaddr": "<kcptun-server>:29900",
  "key": "it's a secrect",
  "crypt": "aes",
  "mode": "fast",
  "mtu": 1400,
  "sndwnd": 128,
  "rcvwnd": 1024,
  "datashard": 10,
  "parityshard": 3,
  "dscp": 46,
  "nocomp": true,
  "acknodelay": false,
  "nodelay": 1,
  "interval": 40,
  "resend": 2,
  "nc": 1,
  "sockbuf": 16777217,
  "smuxver": 1,
  "smuxbuf": 16777217,
  "streambuf": 2097152,
  "keepalive": 10,
  "autoexpire": 1800,
  "quiet": false,
  "tcp": false
}
